---
import '../index.css';

import { css } from '../../styled-system/css';

import { MainStyles } from '../styles/index/MainStyles';
import IndexLayout from '../layouts/index/index.layout.astro';

interface User {
	name: string;
	location: string;
	description: string;
	avatar: string;
	socials: {
		name: string;
		url: string;
	}[];
}

const UserInfo: User = {
	name: 'Jessica Randall',
	location: 'London, UK',
	description: `"Frontend developer and avid reader"`,
	avatar: '/03_FEM_socialLinksProfile/assets/images/avatar-jessica.jpeg',
	socials: [
		{
			name: 'GitHub',
			url: 'https://github.com',
		},
		{
			name: 'Frontend Mentor',
			url: 'https://frontendmentor.io',
		},
		{
			name: 'LinkedIn',
			url: 'https://www.linkedin.com',
		},
		{
			name: 'Twitter',
			url: 'https://www.x.com',
		},
		{
			name: 'Instagram',
			url: 'https://instagram.com',
		},
	]
}

---

<IndexLayout>
	<main class={MainStyles({})}>
		<div id="box_user">
			<div id="box_user__avatar">
				<img src=`${UserInfo.avatar}` alt="avatar" class={css({ width: '7rem', borderRadius: '50%' })} />
			</div>
			<div id="box_user__info">
				<p class={css({ fontFamily: 'inter', fontSize: '1.5rem', fontWeight: '600', color: 'white'})}>
					{UserInfo.name}
				</p>
				<p class={css({ fontFamily: 'inter', fontSize: '1rem', fontWeight: '600', color: 'lime.400' })}>
					{UserInfo.location}
				</p>
			</div>
			<div id="box_user__description">
				<p class={css({ fontFamily: 'inter', fontSize: '1rem', fontWeight: '400', color: 'whitesmoke' })}>
					{UserInfo.description}
				</p>
			</div>
		</div>
		<ul id="box_socials">
			{
				UserInfo.socials.map((social, index) => (
					<li>
						<a id={`url_${social.name}`} href={`${social.url}`} target="_blank">{social.name}</a>
					</li>
				))
			}
		</ul>
	</main>
</IndexLayout>
